body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}

nav {
    background-color: black;
    position:fixed;
    top:0;
    width:100%;
}

img {
    width: 100%;
}

footer {
    background-color: black;
}

p {
    font-family: monospace;
    text-align: center;
}

a {
    color: white;
}
