body {
    background-color: black;
    margin: 0px;
    overflow: hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    background-color: black;
}

p {
    font-family: monospace;
    text-align: center;
}

a {
    color: white;
}
